#complexity{
	width: 300px;
	padding: 3px 0;
	height: 20px;
/*	color: #000;*/
	font-size: 14px;
	text-align: left;
}
/*.default{background-color: #CCC;}
.weak{background-color: #AF0400;}
.strong{background-color: #efdf2f;}
.stronger{background-color: #88AF00; }
.strongest{background-color: #509401 ;}*/

.default{ color: #CCC }
.weak{ color: #AF0400 }
.strong{ color: #efdf2f }
.stronger{ color: #88AF00 }
.strongest{ color: #509401 }